---

- name: set timezone to Asia/Tokyo
  timezone:
    name: Asia/Tokyo
  become: true

- name: install common packages
  yum:
    name:
    - git
    - dstat
    - tcpdump
    - sysstat
    - iotop
    - tree
    - tmux
    - policycoreutils-python
    - bind-utils
    - net-tools      
    state: installed
  become: true
