[mysqld]
wsrep_provider=/usr/lib64/galera3/libgalera_smm.so
wsrep_cluster_name=pxc-cluster
wsrep_cluster_address=gcomm://{{ percona.server_ips | join(",") }}

wsrep_node_name={{ ansible_hostname }}
wsrep_node_address={{ ansible_eth2.ipv4.address }}

wsrep_sst_method=xtrabackup-v2
wsrep_sst_auth={{ percona.sstuser }}:{{ percona.sstpass }}

pxc_strict_mode=ENFORCING

binlog_format=ROW
default_storage_engine=InnoDB
innodb_autoinc_lock_mode=2

log-error=/var/log/mysqld.log
